*{
  margin:0;
  padding:0;                      
  box-sizing: border-box;
  font-family:'roboto', sans-serif;
  font-size:50px;
  color:black;
}
body{
  background: #2CB3F3;
}
header{
  text-align:center;
}
.cabeca{
  position:absolute;
  width: 64vw;
  height: 100vh;
  left: 17vw;
  top: 50vh;
  border-radius:108px 108px 0 0 ;
  background: #FFFFFF;
}
.rosto{
  position:relative;
  background: #FFE1C9;
  width: 50vw;
  height:70vh;
  top:55vh;
  left:25vw;
  border-radius:50%;
}
.olhod{
  position:relative;
  background: #000000;
  width:4vw;
  height:8vh;
  top:7vh;
  left:58vw;
  border-radius:50%;
}
.olhoe{
  position:relative;
  background: #000000;
  width:4vw;
  height:8vh;
  top:0.1vh;
  left:37vw;
  border-radius:50%;
}
.mail{
  position:relative;
  width:30vw;
  height:4.5vh;
  top:5vh;
  left:35vw;
  font-style:roboto;
  font-size:20px;
}
.senha{
  position:relative;
  width:30vw;
  height:4.5vh;
  top:9.5vh;
  left:3.6vw;
  font-style:roboto;
  font-size:20px;
}
.botao{
  background: #55A603;
  position:absolute;
  width:16vw;
  height:6vh;
  top:155vh;
  left:43vw;
  font-weight: lighter;
  text-align:center;
  font-style:roboto;
  font-size:20px;
  color: #B2F272;

}
.botao:hover{
  cursor:pointer;
}